In [ ]:
word = 'testing'
lng = len(word)
if lng % 2 == 0:
  res = word[int(lng/2-1) : int(lng/2)+1]
else:
  res = word[int((lng-1)/2)]
print(res)

t

In [ ]:
sum = 0
while(True):
  print('Введите число:')
  num = int(input())
  sum += num
  if num == 0:
    print('Результат: ', str(sum))
    break

Введите число:
5
Введите число:
3
Введите число:
6
Введите число:
-4
Введите число:
0
Результат:  10

In [ ]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
boys.sort()
girls.sort()
if len(boys) != len(girls):
  print('Внимание, кто-то может остаться без пары!')
else:
  print('Идеальные пары:')
  for b,g in zip(boys, girls):
    print(b, g)

Внимание, кто-то может остаться без пары!

In [ ]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

print('Средняя температура в странах:')
for country in countries_temperature:
  print(country[0], '  ', '-', '  ', round((sum(country[1])/len(country[1]) - 32)/1.8, 1), 'C')

Средняя температура в странах:
Thailand    -    23.9 C
Germany    -    13.8 C
Russia    -    3.7 C
Poland    -    12.0 C

In [ ]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

users_info = {}
for log in stream:
  substr = log.split(',')
  if substr[1] in users_info:
    users_info[substr[1]] = users_info[substr[1]] + int(substr[2])
  else:
    users_info[substr[1]] = int(substr[2])

val = round(sum(users_info.values())/len(users_info.values()),2)
print('Среднее количество просмотров на уникального пользователя: ', val)

Среднее количество просмотров на уникального пользователя:  145.33

In [ ]:
print('Введите числа:')
numbers = input().split(' ')
numbers = list(map(int, numbers))
numbers_set = set(numbers)
ans = [k for k in numbers_set if numbers.count(k) > 1]
ans.sort()
ans = ' '.join(list(map(str, ans)))
print(ans)

Введите числа:
10 15 15 103 200 200 200 1 1 1 1 1 2 2 2
1 2 15 200